/* Document */

html { 
    height: 100%;
}

body {
    background: url(https://images.unsplash.com/photo-1522741070277-b1b2ba3a7bd3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42910d1142e40a6bb2c2b34fcabe608f&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

h1, h3{
    color: white;
    font-family: "Lobster", cursive, sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}


/*NAV BAR*/

.navbar {
	position: fixed;
	width: 100%;
}

#navbar-id {
	color: white;

}

#navbar-about {
	z-index: 10;
	background-color: rgba(0,0,0,0.2);
}


section {
  width: 40em;
  height: 25em;
  margin: 0 auto;
  position: relative;
}




/* LANDING PAGE */

#landing-content {
    text-align: center;
    padding-top: 35%;
    text-shadow: 0px 4px 3px rgba(0,0,255,0.4),
                 0px 8px 13px rgba(255,0,255,0.6),
                 0px 16px 23px rgba(0,255,200,0.2);
}

#landing-button {
	width: 50%;
}

#home-content {
    margin-top: 20px;
    width: 100%;
    height: 90%;
    max-height 90%;
    background-color: rgba(0,0,0,0.6);
}

#home-pic {
    width: 100%;
    height: 100%;
}

#home-heading {
    text-align: center;
    background-color: dimgray;
}

hr {
    width: 400px;
    color: white;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px 
}


#slideshow {
    height: 50px;
    max-height: 50px;

}

/* ABOUT PAGE */

#about-container {
	  position: relative;
    background-color: rgba(0,0,0,0.75);
    height: 93%;
    padding: 10% 8%;
    text-align: justify;
		top: 6em;
}

#about-container h3, h1 {
    text-align: center;
    font-family: Lobster, sans-serif;
}

#about-container h5 {
    font-weight: 300;
    font-size: 1.5em;
}

#about-content {
    margin-top: 3%;
    font-family: Lato, sans-serif;
}

#about-links {

    padding-left: 17%;
    height: 10%;
	  width: 100%;
}

#about-buttons {
    width: 25%;
}



/* The carousel*/

section {
  width: 40em;
  height: 25em;
  margin: 0 auto;
  position: relative;
}



li p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}
.items {
  position: absolute;
}

.main-pos {
  margin-left: 2em !important;
  z-index: 3000;
  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.left-pos {
  opacity: .3;
  margin-left: -17em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.back-pos {
  margin-left: 2em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.right-pos {
  opacity: .3;
  margin-left:  21em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}


span {
  position: relative;
  margin: 0 auto;
  left: 17em;
  top: 20em;
}



/*Login popup*/
.modal-header,h4,.close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }



.items {
  position: absolute;
}

.main-pos {
  margin-left: 2em !important;
  z-index: 3000;
  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.left-pos {
  opacity: .3;
  margin-left: -17em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.back-pos {
  margin-left: 2em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.right-pos {
  opacity: .3;
  margin-left:  21em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}



/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.button {
    color: white;
    cursor: pointer;
    
}



/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
>>>>>>> origin/master
}

/* @@@@@ PRODUCTS PAGE @@@@@ */

#products-thumbs {

	height: 200px;
	width: 100%;

}

#products-names {
	height: 50px;
	width: 100%;
}

@media screen and (max-width: 800px) {

	#products-thumbs {

	height: 200px;
	width: 75%;

}

#products-names {
	height: 50px;
	width: 100%;
}

}





div { word-break: break-all; }

img { max-width:100%; }

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	}
    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }


/* Container */
.container-fluid {
    background: #fbf4e0;
    margin: 40px auto 10px;
    padding: 20px 0px;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Page Header */
.page-header {
    background: #fbf4e0;
    margin: -30px 0px 0px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #85b767;
    text-transform: uppercase;
    }
    .page-header h3 {
        line-height: 0.88rem;
        color: #85b767;
        }


/* Carousel Fade */




/* Thumbnail Box */
.caption {
    height: 140px;
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.caption .span4, .caption .span8 {
    padding: 0px 20px;
}
.caption .span4 {
    border-right: 1px dotted #CCCCCC;
}
.caption h3 {
    color: #85b767;
    line-height: 2rem;
    margin: 0 0 20px;
    text-transform: uppercase;
    }
    .caption p {
        font-size: 1rem;
        line-height: 1.6rem;
        color: #85b767;
        }
        .btn.btn-mini {
            background: #85b767;
            border-radius: 0 0 0 0;
            color: #fbf4e0;
            font-size: 0.63rem;
            text-shadow: none !important;
            }
.carousel-control {
    top: 33%;
}
